# Log-Verzeichnisse
LOG_DIR1=C:\Temp
LOG_DIR2=C:\Temp
LOG_DIR3=C:\Temp
LOG_DIR4=C:\Temp
LOG_DIR5=C:\Temp
LOG_DIR6C:\Temp
LOG_DIR7=C:\Temp
LOG_DIR8=C:\Temp

# Dateipräfixe
LOG_PREFIX1=prefix_
LOG_PREFIX2=
LOG_PREFIX3=
LOG_PREFIX4=
LOG_PREFIX5=
LOG_PREFIX7=
LOG_PREFIX8=

# Ausgabeziel
LOG_OUTPUT_PATH=C:\Temp\resultsLogSearchTool.txt
