# Log-Verzeichnisse
LOG_DIR1=C:\Macos\Logs\DMSQueue
LOG_DIR2=C:\Macos\Macos.Services.Dms
LOG_DIR3=C:\Macos\Macos.WebPks.UI.WebApi
LOG_DIR4=C:\Macos\Printing\Test\Logs
LOG_DIR5=C:\Logs\Macos.Services.Deamon
LOG_DIR6=C:\Macos\DMSQueue\Error
LOG_DIR7=C:\Macos\Macos.Shared.Service.Dms
LOG_DIR8=C:\Macos\Logs\WebApiProxy

# Dateipräfixe
LOG_PREFIX1=Macos.Services.DmsQueue-Log
LOG_PREFIX2=Macos.Services.Dms-Log
LOG_PREFIX3=Macos.WebPks.UI.WebApi_
LOG_PREFIX4=Macos.Printing.WebApi_
LOG_PREFIX5=Macos.WebPks.Mutation.Deamon_
LOG_PREFIX7=Macos.Shared.Service.Dms-Log
LOG_PREFIX8=Macos.WinPks.WebApi.Client.log

# Ausgabeziel
LOG_OUTPUT_PATH=C:\Users\macosService\Desktop\LogSearchTool\resultsLogSearchTool.txt
